@import url(year1989.css);
@import url(year1993.css);
@import url(year1997.css);
@import url(year2001.css);
@import url(year2005.css);
@import url(year2009.css);
@import url(year2013.css);
@import url(year2017.css);

body div.ui.menu {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

@media (max-width: 720px) {
    body div.ui.menu {
        flex-wrap: wrap;
    }
}
