#href-insertion-point.year2013 {
    flex: 1 1 auto;
}

#href-insertion-point.year2013 p {
    text-align: justify;
}


#href-insertion-point.year2013 .ui.segment.panel {
    width: 70%;
}

#href-insertion-point.year2013 div.wrapper {
    position: relative;
    flex: 1 1 auto;
    overflow: visible;
    transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#href-insertion-point.year2013 div.wrapper.offs1 {
    transform: translateX(-100%);
}
#href-insertion-point.year2013 div.wrapper.offs2 {
    transform: translateX(-200%);
}
#href-insertion-point.year2013 div.wrapper.offs3 {
    transform: translateX(-300%);
}

#href-insertion-point.year2013 .video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#href-insertion-point.year2013 .video video {
    position: absolute;
    top: 0;
    width: 95%;
    height: 95%;
    pointer-events: none;
    padding-top: 50px;
}


#href-insertion-point.year2013 .panel {
    box-sizing: border-box;
    margin: 80px;
    padding: 40px;
    font-size: 18px;
    position: relative;
}

#href-insertion-point.year2013 .panel .next {
    top: calc(50% - 21px);
    right: -22px;
    position: absolute;
}
#href-insertion-point.year2013 .panel .prev {
    top: calc(50% - 21px);
    left: -19px;
    position: absolute;
}
#href-insertion-point.year2013 .v2 {
    left: 100%;
}
#href-insertion-point.year2013 .v3 {
    left: 200%;
}