div#href-insertion-point.year2017 {
    flex: 1 1 auto;
    overflow: hidden;
}

div#href-insertion-point .year2017 {
    flex: 1 1 auto;
    display: block;
    width: 100%;
    height: 100%;
    perspective: 300px;
    padding: 5em;
    position: relative;

    background-color: #161625;
}
div#href-insertion-point .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform ease-in-out 0.75s;
}
div#href-insertion-point .cube.step1 {
    transform: rotateY(-90deg);
}
div#href-insertion-point .cube.step2 {
    transform: rotateY(-180deg);
}
div#href-insertion-point .cube.step3 {
    transform: rotateY(-270deg);
}
div#href-insertion-point .cube.step4 {
    transform: rotateY(-360deg);
}

div#href-insertion-point .cube.step0 #header {
    opacity: 1;
}
div#href-insertion-point .cube.step1 #paragraph1 {
    opacity: 1;
}

div#href-insertion-point .cube.step2 #paragraph2 {
    opacity: 1;
}
div#href-insertion-point .cube.step3 #paragraph3 {
    opacity: 1;
}
div#href-insertion-point .cube.step4 #paragraph4 {
    opacity: 1;
}

div#href-insertion-point .buttons {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

div#href-insertion-point .buttons > .ui.dropdown {
    background-color: rgb(224, 225, 226);
    padding: 6px;
    margin-right: 4px;
    border-radius: 4px;
}

div#href-insertion-point .buttons > .ui.dropdown > .menu > * {
    display: block;
    padding: 2 8px;
}

div#href-insertion-point .face {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    transition: opacity ease 0.4s;
}
div#href-insertion-point .face div {
    max-width: 1200px;
}
div#href-insertion-point .transparent-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 1000;
    color: transparent;
    pointer-events: none;
}
div#href-insertion-point .overlay-sizer {
    padding: 1em;
    border: 8px solid violet;
    border-radius: 8px;
    transition: width cubic-bezier(0.265, -0.6, 0.565, 1.65) 0.75s,
        height cubic-bezier(0.265, -0.6, 0.565, 1.65) 0.75s,
        border-color cubic-bezier(0.265, -0.6, 0.565, 1.65) 0.75s;
    overflow: hidden;
    box-sizing: content-box;
}

div#href-insertion-point .year2017 h1 {
    font-size: 72px;
    color: #e1e1ff;
}

div#href-insertion-point .year2017 p {
    text-align: justify;
    font-size: 25px;
    color: #e1e1ff;
}

/**
 *  
 */
div#href-insertion-point .year2017 #header {
    transform: rotateY(0deg);
    opacity: 0;
}
div#href-insertion-point .year2017 #paragraph1 {
    transform: rotateY(90deg);
    opacity: 0;
}
div#href-insertion-point .year2017 #paragraph2 {
    transform: rotateY(180deg);
    opacity: 0;
}
div#href-insertion-point .year2017 #paragraph3 {
    transform: rotateY(270deg);
    opacity: 0;
}
div#href-insertion-point .year2017 #paragraph4 {
    transform: rotateY(360deg);
    opacity: 0;
}

div#href-insertion-point .year2017 a[href] {
    text-decoration: none;
    /* color: #e1e1ff */
}

div#href-insertion-point .year2017 a[href]:hover {
    color: rgb(96, 255, 96);
}
