/* 1993 */
#href-insertion-point.year1993 a[href] {
    text-decoration: underline;
    color: blue;
}


#href-insertion-point.year1993 {
    background-color: gray;
}

#href-insertion-point.year1993 h1 {
    color: red;
}


.year1993.ui.indicating.progress .bar {
    background-color: #979797;
}

.year1993.ui.container {
    margin: 20px;
    width: 1024px;
}

/* turn off bar animation */
.year1993.ui.indicating.progress > div.bar::after {
    -webkit-animation: none;
    animation: none;
}

#href-insertion-point .year1993 p {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

#href-insertion-point .year1993 div#textarea-container {
    border-style: inset;
    background-color: white;
    color: black;
}
