/*background colour*/
#href-insertion-point.year1997 {
    background-color: rgb(69, 69, 69)
}

/* text in middle box */
#href-insertion-point > .year1997 .ui.basic.segment p {
    font-size: 16px;
    text-align: center;
    color: black;
}

#href-insertion-point > .year1997 .ui.basic.segment h1 {
    color: black;
}

/* all boxes */
#href-insertion-point > .year1997 .ui.basic.segment {
    background-color: rgb(255, 47, 82);
    border-style: inset;
    font-size: 18px;
    margin: 0mm;
    color: white;
}

/* left segment specific */
#href-insertion-point .year1997 .ui.rail.left .ui.basic.segment {
    background-color: blue;
    border-style: inset;
}

#href-insertion-point .year1997 .ui.rail.left .ui.basic.segment:hover,
#href-insertion-point .year1997 .ui.rail.right .ui.basic.segment:hover {
    background-color: rgb(180, 180, 0);
    color: black;
}

/* right segment specific */
#href-insertion-point .year1997 .ui.rail.right .ui.basic.segment {
    background-color: saddlebrown;
    border-style: inset;
    text-align: right;
}

/* all rails */
#href-insertion-point > .year1997 .ui.rail {
    margin: 0mm;
}
