#href-insertion-point.year2005 .text-container {
    display: grid;
    grid-template-columns: 1fr 150px 150px 1fr;
    grid-template-rows: minmax(200px, max-content);
    grid-auto-rows: auto;
}

#href-insertion-point.year2005 .button-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

#href-insertion-point.year2005 #iphone-href {
    grid-column: 2 / span 2;
    grid-row: 1;
}

#href-insertion-point.year2005 #iphone {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#href-insertion-point.year2005 #left {
    grid-column: 1;
}
#href-insertion-point.year2005 #right {
    grid-column: 4;
}
#href-insertion-point.year2005 .full {
    grid-column: span 4;
}

#href-insertion-point.year2005 button {
    align-self: center;
    justify-self: center;
    width: calc(100% - 2em);
    box-sizing: border-box;
    margin: 1em;
    outline: none;
    padding: 2em;
    border: 1px solid black;
    border-radius: 50vh;
    background-image: linear-gradient(-180deg, #ff89d6 0%, #c01f9e 100%);
    box-shadow: 0 1rem 1.25rem 0 rgba(22, 75, 195, 0.5),
        0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
        0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
        0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}
#href-insertion-point.year2005 button span {
    font-size: 24px;
    color: transparent;
    background-image: linear-gradient(0deg, #ee82da 0%, #fefafd 100%);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}
@media (max-width: 720px) {
    #href-insertion-point.year2005 .button-area {
        grid-template-columns: 1fr;
    }
}
