#comment-section > div > a.avatar {
    height: 2.5em;
}

#href-insertion-point.year2001 textarea {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    
    border: 1px solid black;
    border-style: inset;
    border-radius: 0;
    outline: none;
    resize: none;
}