#href-insertion-point.year2009 {
    flex: 1 1 auto;
    overflow-y: scroll;
    display: block !important;
}
#href-insertion-point.year2009 .par, #href-insertion-point.year2009 .content {
    font-size: 18px;
    padding: 80px;
    box-sizing: border-box;
}
#href-insertion-point.year2009 .par p {
    max-width: 1000px;
    font-size: 21px;
    margin: auto;
}
#href-insertion-point.year2009 .parallax-bg1 {
    /* background-image: url('/media/parallax-images/inception.jpg'); */
    background-image: url('../media/parallax-images/hello.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 80%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
#href-insertion-point.year2009 .content {
    background-color: white;
    margin-top: -600px;
}
#href-insertion-point.year2009 .parallax-bg2 {
    background-image: url('../media/parallax-images/computers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
}
#href-insertion-point.year2009 .parallax-bg3 {
    background-image: url('../media/parallax-images/minimalism.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
}
