/* 1989 */


.year1989 {
    font-family: 'Times New Roman', Times, serif;
}

/* Explicitly override semantic ui; too pretty */
.year1989 > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.year1989 > p {
    font-size: 18px;
}

.year1989 a[href] {
    text-decoration: underline;
    color: blue;
}

.year1989.ui.container {
    margin: 20px;
    max-width: 80%;
}

.year1989.ui.indicating.progress .bar {
    background-color: #979797;
}

/* disable rounded corners of entire bar */
.year1989.ui.indicating.progress {
    border-radius: 0.0rem;
}
/* disable rounded corners of progress bar */
.year1989.ui.indicating.progress .bar {
    border-radius: 0.0rem;
}

/* turn off bar animation */
.year1989.ui.indicating.progress > div.bar::after {
    -webkit-animation: none;
    animation: none;
}