<head>
    <meta charset="utf-8" />
    <title>Web Literacy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <script src="./node_modules/jquery/dist/jquery.js"></script>

    <link
        rel="stylesheet"
        href="./node_modules/semantic-ui/dist/semantic.css"
    />
    <script src="./node_modules/semantic-ui/dist/semantic.js"></script>

    <script src="./js/urlJoin.js"></script>

    <script src="./js/progressBar.js"></script>
    <script src="./js/loadDates.js"></script>
    <script src="./js/toggleMenu.js"></script>

    <link rel="stylesheet" href="./css/dollarYear.css" />
</head>

<body>
    <div class="ui menu secondary">
        <a class="item">1989-1992</a>
        <a class="item">1993-1996</a>
        <a class="item">1997-2000</a>
        <a class="item">2001-2004</a>
        <a class="item">2005-2008</a>
        <a class="item">2009-2012</a>
        <a class="item">2013-2016</a>
        <a class="item">2017-2020</a>
        <a class="item">Impressum</a>
    </div>

    <div id="progress-bar-insertion-point"></div>
    <div
        id="href-insertion-point"
        style="display: flex; justify-content: center;"
    ></div>
</body>
