<div class="year1989 ui container">
    <h1>Die Anfänge des World Wide Web</h1>

    <p>
        Die Entwicklung des World Wide Web (WWW) begann im Jahre 1989 als
        Projekt an der Europäischen Organisation für Kernforschung (CERN),
        welche sich mit physikalischer Grundforschung beschäftigte. Die
        Erfindung des WWW 1990 basierte auf der revolutionären Idee des
        Physikers Tim Berners-Lee des Konzepts “Hypertext”, mit dem durch
        Querverweise Daten miteinander verknüpft und die Kommunikation zwischen
        Ländern vereinfacht werden sollte. Diese Querverweise heißen
        “Hyperlinks”<sup>1</sup>. Berners-Lees Vision war es dabei, das Web
        jedem auf der Welt zugänglich zu machen <sup>2</sup>. Auf der
        <a href="http://info.cern.ch/hypertext/WWW/TheProject.html">
            ersten Website</a
        >
        war noch kein Surfen möglich und sie war nur informationsvermittelnd und
        rein textbasiert. Der blaue Hypertext war die einzige Farbe, die
        verwendet wurde. Blau unterlegte und unterstrichene Elemente stellten
        Verlinkungen zu weiteren Seiten dar.  <a href=https://www.smamarketing.net/blog/the-history-of-website-design
        >(vgl. Shelley 2019)</a> 
        
        Auf diese Weise konnte man sich innerhalb der Website bewegen. 
        Damalige Webbrowser
        unterstützten nur Text, was zur Folge hatte, dass im Web keine
        multimediale Darstellung möglich war, sondern Informationen lediglich
        durch Text und Querverweise dargestellt wurden. Was die Farbgebung
        betrifft, so waren auf dem Bildschirm 1989 lediglich schwarz und weiß
        bzw. Graustufen auszumachen. Webdesign wurde lediglich durch die Nutzung
        von Symbolen und Tabellen umgesetzt.
    </p>
    <p>
        Ab 1990 war es möglich, 16 verschiedene Farben darzustellen. <a href="https://www.2440media.com/blog/interesting-history-of-web-design">
        (vgl. Kruse 2017) </a> Während dieser Zeit wurden die Grundbausteine des HTML gelegt.
        Diese “Hypertext Markup Language” ist eine universale
        Auszeichnungssprache. Dabei ist sie textbasiert und einheitlich
        gestaltet. Mit ihrer Hilfe wird es Browsern ermöglicht, Webseiten zu
        interpretieren und anzuzeigen. <a href="https://www.seo-kueche.de/lexikon/html/">(vgl. Lindner)</a> 
        Ab ca. 1992 war das erste Surfen innerhalb der Dokumente durch HTTP möglich. Das “Hypertext
        Transfer Protocol" dient zur Datenübertragung und letztlich zur
        Übertragung der Webseite aus dem World Wide Web in einen Webbrowser
        <a href="https://de.wikipedia.org/wiki/Hypertext_Transfer_Protocol#:~:text=Das%20Hypertext%20Transfer%20Protocol%20(HTTP,in%20einen%20Webbrowser%20zu%20laden.">(vgl. Hypertext Transfer Protocol).</a>
        HTTP ersetzte die Reihe von Zahlen, die man zuvor angeben musste, um einen anderen Computer anzuwählen <a href="https://www.get-in-it.de/magazin/arbeitswelt/it-legenden/tim-berners-lee">(vgl.
        Liebig)</a>.
    </p>

    <div>
        <p>
            <sup>1</sup> Stocksmeier, Thorsten (2002): Business-Webdesign:
            Benutzerfreundlichkeit, Konzeptionierung, Technik, Wartung. Berlin
            Heidelberg New York: Springer-Verlag S. 20
        </p>
        <p>
            <sup>2</sup> Stocksmeier, Thorsten (2002): Business-Webdesign:
            Benutzerfreundlichkeit, Konzeptionierung, Technik, Wartung. Berlin
            Heidelberg New York: Springer-Verlag S. 9
        </p>
    </div>
</div>
