<div class="year1997 ui text container" style="height: 100vh;">
    <div class="ui basic segment">
        <div class="ui rail left">
            <div id="top-left-rail" class="ui basic segment">
                Click here to navigate to previous page
            </div>
            <a href=https://blog.hubspot.com/marketing/web-design-history>
                <div class="ui basic segment">
                    Kolowich, Lindsay (2015): The History of Web Design
                </div>
            </a>
            <a href="https://www.2440media.com/blog/interesting-history-of-web-design">
                <div class="ui basic segment">
                    Kruse, Bob (2017): The Interesting History Of Web Design
                </div>
            </a>
            <a href="https://www.seo-united.de/glossar/splash-page">
                <div class="ui basic segment">
                    Tippmann, Uwe: Was ist Splash Page
                </div>
            </a>
        </div>
        <div class="ui rail right">
            <div id="top-right-rail" class="ui basic segment">
                Click here to navigate to next page
            </div>
            <a href="https://www.akademie.de/wissen/php-lernen/dynamische-webseiten">
                <div class="ui basic segment">
                    König, Manuela: PHP und dynamische Webseiten
                </div>
            </a>
            <a href="https://de.wikipedia.org/wiki/Internet_Explorer#Versionen_5_und_5.5">
                <div class="ui basic segment">
                    Internet Explorer: <br/> 1.1.7 Versionen 5 und 5.5
                </div>
            </a>
        </div>

        <div class="text-area">
            <h1 style="text-align: center;">Websites werden nutzerorientiert</h1>

            <p>
                Im Jahr 1997 kam die Einführung von HTML 4.0, einer
                überarbeiteten Programmierumgebung, mit der ein universeller
                Zeichensatz definiert wurde, der die weltweite Internetnutzung
                möglich machte. Zudem fand eine Veränderung des User Interface,
                der Benutzeroberfläche, statt. Ausgewählte und geklickte
                Elemente konnten von nun an eine andere Farbe annehmen und somit
                die Nutzung erleichtern. (vgl. Kolowich 2015)
            </p>
            <p>
                Im Trend lagen zudem Buttons mit 3D-Effekt. Splash Pages wurden
                entwickelt, um das Interesse des Users zu wecken. Mithilfe von
                Flash wurden Introseiten entwickelt, die so gestaltet waren,
                dass sie den Nutzer in ihren Bann ziehen sollten (vgl.
                Tippmann). Das Einführen von Menüleisten und
                Navigationsmöglichkeiten auf Websites lag im Bereich des
                Webdesigns im Fokus und erhielt viel Aufmerksamkeit. Bis dato
                waren Webseiten meist überladen und unübersichtlich. In den
                Jahren um die Jahrtausendwende begann man, Inhalte langsam zu
                reduzieren, um dem User eine bessere Orientierung und Nutzung zu
                ermöglichen. Mittlerweile war es möglich, 256 verschiedene
                Farben darzustellen. Die Hintergründe der meisten Websites in
                dieser Zeit waren oftmals in dunklen Farben gehalten,
                Farbverläufe und blockfarbene Hintergründe lagen im Trend. (vgl.
                Kruse 2017)
            </p>
            <p>
                CSS, die Formatierungssprache für HTML, gewann in diesen Jahren
                an einer stetig wachsenden Popularität und wirkte sich somit auf
                die gestalterische Entwicklung von Webseiten aus (vgl. Kolowich
                2015). 1998 wurde CSS Level 2 veröffentlicht, welches allerdings
                noch nicht ganz ausgereift war. Im selben Jahr gelangte zudem
                PHP 3 an die Öffentlichkeit. (vgl. Kruse 2017) Diese
                Programmiersprache ermöglichte das Erstellen von dynamischen
                Webseiten, die im Gegensatz zu statischen Webseiten erst erzeugt
                werden, wenn sie aufgerufen werden. Dadurch sind sie flexibel
                und Inhalte können sehr leicht auch ohne HTML-Kenntnisse
                aktualisiert werden. (vgl. König)
            </p>
            <p>
                Da immer mehr Unternehmen eigene Websites entwickelten, wurde
                dadurch auch die Internet-Werbung populär, um den
                Online-Auftritt finanzieren zu können (vgl. Kruse 2017). 1999 wurde
                Version 5 des Webbrowsers Internet Explorer veröffentlicht, der
                nun XML unterstützte sowie die Druckvorschau und die
                Unterstützung von HTML und CSS verbesserte (vgl. Internet
                Explorer) Durch eine Veränderung in der Farbgebung der
                ausgewählten Elemente auf Webseiten fand eine verbesserte
                Usability und Nutzer Experience statt, die eine Orientierung und
                effektivere Nutzung der Webseite förderte. Durch die Verwaltung
                und kreative Gestaltung von Textelementen konnten Inhalte nun
                eigenständig strukturierter und ansprechender erstellt werden.
            </p>
        </div>
    </div>
</div>

<script src="./js/1997-nav.js"></script>
