<div class="year2001 ui text container">
    <div class="ui dropdown">
        <div class="text">Quellen</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <a href="https://de.wikipedia.org/wiki/Adobe_Flash#Geschichte"
                ><div class="item">Adobe Flash</div></a
            >
            <a
                href="https://blog.zeit.de/schueler/files/2010/09/4.3-Techniken_u_Anwendungen.pdf"
                ><div class="item">Die Entwicklung des Internets, S. 97</div></a
            >
            <a
                href="https://www.2440media.com/blog/interesting-history-of-web-design"
                ><div class="item">Kruse 2017</div></a
            >
            <a
                href="https://www.smamarketing.net/blog/the-history-of-website-design"
                ><div class="item">Shelley 2019</div></a
            >
            <a href="https://designmodo.com/history-website-building/"
                ><div class="item">Valeanu 2018</div></a
            >
            <a
                href="https://www.webdesignmuseum.org/web-design-history/timeline-2003-2008"
                ><div class="item">Web Design History Timeline</div></a
            >
        </div>
    </div>

    <script src="./js/commentSection.js"></script>
    <!-- <script src="./js/flashDetection.js"></script> -->

    <h1>Das Web 2.0 und CMS</h1>

    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        <video controls width="650px" autoplay muted loop>
            <source src="media/rick-roll.mp4" type="video/mp4" />
            Sorry, your browser doesn't support embedded videos.
        </video>
    </a>

    <!-- <video id="video-player">
    <object data="./flash/rick-roll.flv" width="320" height="240">
        <embed src="./flash/rick-roll.flv" width="320" height="240" />
    </object>
</video> -->

    <div class="ui comments" id="comment-section">
        <h3 class="ui dividing header" id="comment-section-top">
            Comments
        </h3>

        <form class="ui reply form" id="reply-form">
            <div class="field" id="input-field">
                <textarea></textarea>
            </div>
            <!--
        <div class="ui blue labeled submit icon button" id="submit-button">
            <i class="icon edit"></i> Add Reply
        </div>

    -->
            <button type="button" id="submit-button">Add Comment</button>
        </form>
    </div>

    <div
        id="social-media-icons"
        style="display: flex; justify-content: flex-end;"
    >
        <a href="https://www.blogger.com">
            <img
                src="./imgs/social-media/blogger.png"
                style="height: 32px; position: relative; top: -3px;"
            />
        </a>
        <a href="https://www.facebook.com/">
            <img
                src="./imgs/social-media/facebook.png"
                style="height: 25px; position: relative;"
            />
        </a>
    </div>
</div>
