<div class="year2005 ui text container">
    <h1>
        Mobiles Design

        <div style="float: right;">
            <a href="https://www.blogger.com">
                <img
                    src="./imgs/social-media/blogger.png"
                    style="height: 32px; position: relative; top: +3px;"
                />
            </a>
            <a href="https://www.facebook.com/">
                <img
                    src="./imgs/social-media/facebook.png"
                    style="height: 25px; position: relative;"
                />
            </a>
            <a href="https://www.youtube.com">
                <img
                    src="./imgs/social-media/yt.gif"
                    style="height: 25px; position: relative;"
                />
            </a>
            <a href="https://www.reddit.com">
                <img
                    src="./imgs/social-media/reddit.png"
                    style="height: 25px; position: relative;"
                />
            </a>
        </div>
    </h1>

    <div class="text-container">
        <a
            id="iphone-href"
            href="https://www.macworld.co.uk/review/iphone/iphone-uk-first-generation-review-2388/"
        >
            <div
                id="iphone"
                style="
                    background-image: url('imgs/2005-backgrounds/iphone.jpeg');
                "
            ></div>
        </a>
        <p id="left">
            Soziale Netzwerke und verschiedene Plattformen entwickelten sich
            immer weiter, so entstanden 2005 beispielsweise YouTube sowie
            Reddit. 2007 kam das erste iPhone auf den Markt (siehe Abb.). Mit
            der Erfindung des Smartphones, über das man ebenfalls ins Internet
            gelangen konnte, wurden nun mobile Versionen der Hauptwebseiten
            entwickelt. Dadurch musste man sich aufgrund des kleinen Bildschirms
            auf die relevantesten Inhalte und Bereiche der Seite konzentrieren.
        </p>

        <p id="right">
            Das responsive Design wurde hiermit immer relevanter.
            <a href="https://designmodo.com/history-website-building/">
                (vgl. Valeanu 2018)</a
            >
            Im Webdesign waren zudem Long-Scrolling-Designs im Trend, was durch
            die sozialen Netzwerke hervorgerufen wurde. Nun lag der Fokus nicht
            mehr darauf, die meisten Inhalte an den Anfang einer Seite zu
            binden, sondern je weiter man scrollte, desto mehr Inhalte sollten
            sich offenbaren.
        </p>
        <p class="full">
            Beliebt war in dieser Zeit auch die Schattentechnik. Dabei wurden
            Schaltflächen oder andere Bereiche innerhalb einer Webseite mit
            einem Schatten versehen, sodass sie hervorgehoben wurden und dadurch
            ein 3D-Effekt entstand.<a
                href="https://www.2440media.com/blog/interesting-history-of-web-design"
                >(vgl. Kruse 2017)</a
            >
            In den 2000er Jahren war der Skeuomorphismus eine weit verbreitete
            Philosophie im Webdesign
            <a href="https://www.plerdy.com/blog/web-design-trends/"
                >(vgl. Chornyy 2018)</a
            >. Eine möglichst realistische Darstellung von Gegenständen bzw. der
            Benutzeroberfläche zu schaffen, war das Ziel, wobei oftmals reale
            Materialien oder Objekte digital imitiert wurden, zum Beispiel eine
            Lederoptik oder abgerissene Zettel auf einem Notizblock. So sollten
            den Nutzern bekannte Gegenstände aus der realen Welt nahegebracht
            werden, um für eine bessere Orientierung zu sorgen.
            <a
                href="https://kulturbanause.de/faq/skeuomorphismus/
            "
                >(vgl. Hellwig)</a
            >
        </p>

        <p class="full">
            In diesem Zusammenhang wurde begonnen, mit Stockfotografie zu
            arbeiten
            <a
                href="https://www.2440media.com/blog/interesting-history-of-web-design"
                >(vgl. Kruse 2017)</a
            >. Hierbei handelt es sich um Fotos, die auf Vorrat produziert
            werden und demnach nicht aus einem bestimmten Grund angefertigt
            werden. Der große Vorteil an Stockfotografien war, dass man sie
            lizenzfrei nutzen konnte, was Zeit und Kosten gespart hat.
            <a
                href="https://de.wikipedia.org/wiki/Stockfotografie#:~:text=Stockfotografie%20ist%20ein%20Bereich%20der,%C3%BCber%20Bildagenturen%20vertrieben%20und%20verkauft"
                >(vgl. Stockfotografie)</a
            >
            Stockfotografien ermöglichten, dass Comic-Bilder durch ihre realen
            Gegenstücke ersetzt werden konnten. Mittlerweile konnten auf
            Webseiten Millionen von Farben dargestellt werden, was enorme
            Möglichkeiten visueller und detailreicher Gestaltung ermöglichte
            <a href="https://www.plerdy.com/blog/web-design-trends/"
                >(vgl. Chornyy 2018)</a
            >. 2008 wurde der Webbrowser Google Chrome entwickelt, dessen Stärke
            vor allem seine hohe Geschwindigkeit war. Heute ist er der am
            meisten verwendete Browser weltweit.
            <a
                href="https://www.2440media.com/blog/interesting-history-of-web-design"
                >(vgl. Kruse 2017)</a
            >
        </p>
    </div>

    <div class="button-area">
        <button id="prev-page-button"><span>Go to previous page</span></button>
        <button id="next-page-button"><span>Go to next page</span></button>
    </div>
</div>

<script src="./js/2005-nav.js"></script>
