<a href="https://giphy.com/gifs/animation-hello-mograph-26xBukhJ0i8KXADYc"
    ><div class="parallax-bg1">
        <div class="content">
            <h1 style="color: black;">Flat Design und Parallax</h1>
        </div>
    </div></a
>
<div class="par">
    <p>
        Ab 2010 war das sogenannte Flat Design im Trend. Bei dieser
        zweidimensionalen Gestaltung wurde auf realistische Darstellungen und
        Texturen verzichtet. Der Fokus lag auf einem minimalistischen Stil, bei
        dem auf das Wesentliche reduziert wurde. Farben hingegen wurden
        zahlreich und intensiv eingesetzt.
        <a href="https://de.wikipedia.org/wiki/Flat_Design"
            >(vgl. Flat Design)</a
        >
    </p>
</div>
<a
    href="https://pixabay.com/de/illustrations/ger%C3%A4t-computer-laptop-tablette-3411385/"
>
    <div class="parallax-bg2"></div
></a>
<div class="par">
    <p>
        Zudem wurde das responsive Design von Websites bzw. das mobile Web
        stetig weiterentwickelt, da die mobile Internetnutzung immer mehr
        zunahm. Angesagt waren außerdem Javascript Animationen, animierte GIFs
        sowie der Parallax-Effekt.
        <a href="https://designmodo.com/history-website-building/"
            >(vgl. Valeanu 2018)</a
        >
        Durch animierte GIFs können statische Bilder zu einem digitalen
        “Daumenkino” werden. Mehrere Bewegungsphasen eines Bildes werden in
        einer Datei gespeichert, sodass das animierte GIF einen Mini-Film
        nachahmt.<sup>1</sup> Der Parallax-Effekt war
        gekennzeichnet durch die Nutzung verschiedener Ebenen, die sich in
        unterschiedlicher Geschwindigkeit bewegten, sodass für den Betrachter
        ein Gefühl der Raumtiefe entstand
        <a href="https://t3n.de/news/parallax-scrolling-beispiele-423046/"
            >(vgl. Zaglov 2014a)</a
        >.
    </p>
    <p style="font-size: 13px;">
        <br /><sup>1</sup> Stocksmeier, Thorsten (2002): Business-Webdesign:
        Benutzerfreundlichkeit, Konzeptionierung, Technik, Wartung. Berlin
        Heidelberg New York: Springer-Verlag S. 179
    </p>
</div>

<a
    href="https://pixabay.com/de/illustrations/minimalismus-vereinfachen-downsizing-241876/"
>
    <div class="parallax-bg3"></div
></a>
<div class="par">
    <p>
        Ab 2009 wurden Templates populär sowie Themes und Plugins, sodass es nun
        auch ohne Programmierkenntnisse möglich war, eine Website mithilfe von
        Design- und Layoutvorlagen zu bauen. Allerdings waren für die Anpassung
        der Vorlagen weiterhin Programmierfähigkeiten vonnöten.
        <a href="https://designmodo.com/history-website-building/"
            >(vgl. Valeanu 2018)</a
        >
        2011 wurde CSS 2.1 veröffentlicht, an dessen Entwicklung bereits seit
        2002 gearbeitet wurde. Bei dieser Version wurden die Unstimmigkeiten des
        CSS Level 2 überarbeitet und korrigiert, neue Funktionen gab es
        allerdings nicht.
        <a
            href="https://de.wikipedia.org/wiki/Cascading_Style_Sheets#Geschichte_und_Versionen"
            >(vgl. Cascading Style Sheets)</a
        >
    </p>
</div>
