<div id="video-panel-container" class="wrapper offs0">
    <h1 style="text-align: center;">Responsive Design und Emotionalisierung</h1>

    <div class="video v1">
        <video muted autoplay loop>
            <!-- <source
                src="/media/2013-videos/social-media.mp4"
                type="video/mp4"
            />   -->

            <source
                src="media/2013-videos/social-media.mp4"
                type="video/mp4"
            />
        </video>

        <div class="ui segment panel">
            <p>
                Mitte der 2010er Jahre wurde das responsive Webdesign zum
                Standard, da die mobile Internetnutzung mittlerweile zum Alltag
                gehörte und dementsprechend wichtig war. Dabei wurde eine Art
                der Interaktivität entwickelt, bei der Elemente einer im kleinen
                Format angezeigten Webseite, zum Beispiel auf einem Smartphone,
                bei Bedarf eingeblendet werden. So wurden nur bestimmte
                Ausschnitte einer Webseite angezeigt und inhaltlich wenig
                relevante Elemente wie Navigationen und Sidebars waren an der
                Seite angebracht, sodass sie nach Belieben ein- und ausgeklappt
                werden konnten.
                <a href="https://t3n.de/news/webdesign-trends-2014-518425/"
                    >(vgl. Zaglov 2014b)</a
                >
            </p>

            <p>
                <a
                    href="https://giphy.com/gifs/animation-hello-mograph-26xBukhJ0i8KXADYc"
                    >Hintergrundanimation</a
                >
            </p>
            <button class="next ui icon button circular">
                <i class="icon arrow right"></i>
            </button>
        </div>
    </div>
    <div class="video v2">
        <video muted autoplay loop>
            <source src="media/2013-videos/more-phones.mp4" type="video/mp4" />
        </video>
        <div class="ui segment panel">
            <button class="prev ui icon button circular">
                <i class="icon arrow left"></i>
            </button>
            <p>
                Im Webdesign waren nun große Schriften modern sowie die
                Einbindung von hochaufgelösten Bildern und Videos. Mit HTML 5
                ließen sich erstmals Videohintergründe programmieren, die
                Webseiten eine neue Möglichkeit der (audio)visuellen Gestaltung
                gaben. Ebenfalls im Trend lagen One-Page-Designs. Dabei besteht
                eine Website nicht aus mehreren Unterseiten, sondern alles
                findet sich auf einer in sich steuerbaren Seite. In diesem
                Zusammenhang wurde das sogenannte Storytelling modern.
                <a href="https://t3n.de/news/webdesign-trends-2014-518425/"
                    >(vgl. Zaglov 2014b)</a
                >
                Dabei handelt es sich um eine “Marketingmethode, bei der
                (authentische) metaphorische Geschichten über ein Produkt oder
                ein Unternehmen (und dessen Mitarbeiter) eine persönliche
                Beziehung zum potentiellen Kunden herstellen sollen”
                <a href="https://www.duden.de/rechtschreibung/Storytelling"
                    >(Definition Duden)</a
                >.
            </p>

            <p>
                <a
                    href="https://pixabay.com/de/videos/social-media-twitter-vernetzung-24495/"
                    >Hintergrundanimation</a
                >
            </p>
            <button class="next ui icon button circular">
                <i class="icon arrow right"></i>
            </button>
        </div>
    </div>
    <div class="video v3">
        <video muted autoplay loop>
            <source
                src="media/2013-videos/phone-swiping.mp4"
                type="video/mp4"
            />
        </video>
        <div class="ui segment panel">
            <button class="prev ui icon button circular">
                <i class="icon arrow left"></i>
            </button>
            <p>
                Auch das Parallax-Scrolling konnte durch den
                Long-Scrolling-Trend zu einem Blickfang werden und seine
                vielfältigen Möglichkeiten entfalten. Zudem setzte sich auch das
                Flat Design weiterhin durch. Im Trend lagen einfarbige
                Farbflächen und reduzierte Inhalte. Es wurde auf Lesbarkeit und
                Proportionen geachtet. Rund um 2014 lag im Webdesign der Fokus
                darauf, die Emotionen der User anzusprechen. Die Navigation
                rückte immer mehr in den Hintergrund, während die Inhalte in den
                Mittelpunkt rückten.
                <a href="https://t3n.de/news/webdesign-trends-2014-518425/"
                    >(vgl. Zaglov 2014b)</a
                >
                Die Entwicklung von Webseiten wurde zudem immer kosten- und
                zeiteffizienter
                <a href="https://designmodo.com/history-website-building/"
                    >(vgl. Valeanu 2018)</a
                >.
            </p>
            <!-- <button class="next ui icon button circular">
                <i class="icon arrow right"></i>
            </button> -->

            <p>
                <a
                    href="https://pixabay.com/de/videos/social-media-smartphone-mobil-1360/"
                    >Hintergrundanimation</a
                >
            </p>
        </div>
    </div>
</div>
<script src="./js/2013-arrow-keys.js"></script>
