<div id="2017-outer-text" class="year2017 text">
    <div class="cube step0" id="cube2017">
        <div class="face s0" id="header">
            <div>
                <h1>
                    Websites als Kunst
                </h1>
            </div>
        </div>
        <div class="face s1" id="paragraph1">
            <div>
                <p>
                    In den letzten Jahren haben sich verschiedene
                    Webdesign-Trends durchgesetzt. Zum einen sind
                    handgezeichnete Illustrationen und 3D-Animationen beliebt,
                    die einprägsam und individuell ein Unternehmen o.Ä.
                    präsentieren und den User für den Internetauftritt
                    interessieren sollen. Auch abstrakte 3D-Illustrationen sowie
                    3D-Hintergrundanimationen liegen momentan im Trend. Es ist
                    also zu erkennen, dass das Interesse am 3D-Effekt stark
                    ausgeprägt ist, was sich auch im nach wie vor beliebten
                    Parallax-Effekt widerspiegelt, der ein Gefühl von Raumtiefe
                    erzeugt.
                </p>

                <p>
                    Auf modernen Webseiten ist nicht selten ein geometrisches
                    Design zu finden. Sowohl einfache und klare Formen wie
                    Quadrate als auch weiche Linien und asymmetrische Formen
                    liegen im Trend und sollen das Interesse des Nutzers/der
                    Nutzerin wecken. Es lassen sich gitterbasierte Layouts, aber
                    auch Split Screen Layouts sowie Broken Grid-Designs finden.
                    Letzteres bricht konventionelle Muster auf und setzt auf
                    Asymmetrie und Überlagerung von Elementen. (vgl. Barron
                    2020)
                </p>
            </div>
        </div>

        <div class="face s2" id="paragraph2">
            <div>
                <p>
                    Der Minimalismus setzt sich nach wie vor durch, dem ein
                    einfaches und klares Design zugrunde liegt, damit sich die
                    User gut orientieren und der Blick auf die wesentlichen
                    Dinge gelenkt werden kann. In diesem Zusammenhang ist der
                    White Space ein Design-Element geworden. Dabei werden große
                    Flächen auf einer Seite schlicht und einfach weiß gelassen,
                    ohne dass sich Inhalt darauf befindet. Was die Verwendung
                    von Farben angeht, so sind helle kräftige Farben,
                    Farbverläufe sowie Verzerrungseffekte modern. (vgl. Barron
                    2020)
                </p>
                <p>
                    Beim sogenannten Glitch-Effekt werden einzelne Pixel oder
                    Elemente eines Bildes aus ihrer Umgebung herausgerissen und
                    in ihrer Farbgebung verändert, sodass ein abstraktes, etwas
                    durcheinander wirkendes Bild entsteht (vgl. Dörr 2019). Es
                    wird heutzutage viel mit Farben experimentiert,
                    Farbenvielfalt ist auf vielen Seiten im Internet zu finden.
                    Allerdings liegen parallel dazu auch monochrome Designs im
                    Trend, bei denen eine Farbe im Fokus steht oder die
                    lediglich in schwarz und weiß gestaltet sind.
                </p>
            </div>
        </div>

        <div class="face s3" id="paragraph3">
            <div>
                <p>
                    Mittlerweile hat sich zudem ein Webdesign-Trend
                    durchgesetzt, der als Brutalismus bezeichnet wird. Er wird
                    durch auffällig große und fette Schriftarten sowie große
                    Kopfzeilen gekennzeichnet, die die gesamte Breite des
                    Bildschirms nutzen.
                </p>
                <p>
                    Nach wie vor ist die Einbindung von Videoinhalten modern,
                    was sehr häufig genutzt wird, um Inhalte zu erklären
                    und/oder zu veranschaulichen. Zudem liegen Mouseover-Effekte
                    und Chatbots im Trend, durch die man mit einem technischen
                    System via Textnachrichten kommunizieren kann.
                </p>
                <p>
                    Durch CSS-Gitter als Ergänzung zu CSS können zudem Seiten
                    ganz leicht neu gestaltet werden. Allgemein kann man
                    festhalten, dass Layouts und Designs im Internet immer
                    vielfältiger werden. Webseiten werden vermehrt als
                    Kunstwerke betrachtet, sodass viele sich von üblichen und
                    bekannten Designs trennen und Seiten einen individuellen
                    Charakter verleihen wollen, der sich von anderen abhebt.
                </p>
            </div>
        </div>
        <div class="face s4" id="paragraph4">
            <div>
                <p>
                    Die Software Adobe Flash, die in der Vergangenheit große
                    Beliebtheit genießen konnte, wird ab diesem Jahr nicht mehr
                    unterstützt. Keine weiteren Sicherheitsupdates oder
                    Weiterentwicklungen werden zur Verfügung gestellt. In
                    Hinblick auf multimediale Inhalte und Interaktion wurde
                    Flash nach und nach durch andere Technologien ersetzt. (vgl.
                    Web Design History Timeline, 2009-2017)
                </p>

                <p>
                    Mittlerweile benötigt man keinerlei Programmierfähigkeiten
                    mehr, um eine Webseite zu bauen und zu gestalten. Zudem ist
                    es auch nicht mehr nötig, eine Software dafür zu
                    installieren, da alles online möglich ist. (vgl. Valeanu
                    2018)
                </p>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="prev ui icon button circular">
            <i class="icon arrow left"></i>
        </button>
        <div class="ui dropdown">
            <div class="text">Quellen</div>
            <i class="dropdown icon"></i>

            <div class="menu">
                <a href="https://kinsta.com/de/blog/webdesign-trends"
                    ><div class="item">Barron 2020</div></a
                >
                <a
                    href="https://www.otto.de/updated/ratgeber/photoshop-glitch-effekt-erzeugen-und-umwerfende-fotos-kreieren-61086/#:~:text=Der%20Glitch%20%E2%80%93%20oder%20auch%20Color,der%20Eindruck%20einer%20digitalen%20Bildst%C3%B6rung"
                    ><div class="item">Dörr 2019</div></a
                >
                <a
                    href="https://www.webdesignmuseum.org/web-design-history/timeline-2009-2017"
                    ><div class="item">
                        Web Design History Timeline
                    </div></a
                >
                <a href="https://designmodo.com/history-website-building/"
                    ><div class="item">Valeanu 2018</div></a
                >
            </div>
        </div>
        <button class="next ui icon button circular">
            <i class="icon arrow right"></i>
        </button>
    </div>
    <div class="transparent-overlay">
        <div class="overlay-sizer"></div>
    </div>
</div>

<script src="./js/2017-interactions.js"></script>
